<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DatenLogger_PA17.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
    <userSettings>
        <DatenLogger_PA17.My.MySettings>
            <setting name="IP" serializeAs="String">
                <value>172.27.20.28</value>
            </setting>
            <setting name="CSVPfad" serializeAs="String">
                <value/>
            </setting>
            <setting name="WD_DB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WD_Byte" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WD_Bit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Select_LogName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Select_LogUhrzeit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Select_LogDatum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="Select_LogSepKomma" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Select_LogSepSemikolon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnetionAttemps" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ReadCycle" serializeAs="String">
                <value>1000</value>
            </setting>
        </DatenLogger_PA17.My.MySettings>
    </userSettings>
</configuration>
